
@font-face {
    src: url(../assets/fonts/Montserrat-Regular.ttf) format("truetype"),
      url(../assets/fonts/Montserrat-Regular.woff2) format("woff2"),
      url(../assets/fonts/Montserrat-Regular.woff) format("woff");
    font-family: Montserrat;
    font-weight: normal;
  }
  
  @font-face {
    src: url(../assets/fonts/Montserrat-Bold.ttf) format("truetype"),
      url(../assets/fonts/Montserrat-Bold.woff2) format("woff2"),
      url(../assets/fonts/Montserrat-Bold.woff) format("woff");
    font-family: Montserrat;
    font-weight: bold;
  }