@import url("../blocks/page.css");

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype"),
    url(../fonts/Montserrat-Regular.woff2) format("woff2"),
    url(../fonts/Montserrat-Regular.woff) format("woff");
  font-family: Montserrat;
  font-weight: normal;
}

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype"),
    url(../fonts/Montserrat-Bold.woff2) format("woff2"),
    url(../fonts/Montserrat-Bold.woff) format("woff");
  font-family: Montserrat;
  font-weight: bold;
}

html {
  background-color: #f7f1e3;
}
